.container {
    columns: 2; position: relative;
}
h1 {
    text-align: center;
    padding-top: 100px;
}
body {
    background-image: url(https://image.shutterstock.com/image-photo/lonely-tree-mist-grunge-background-260nw-87172531.jpg); background-size: cover;
    font-weight: bolder;
    font-size: large;
    margin-left: 60px;
}
.card-title {
    background-image: inherit; background-size: cover;
    font-weight: bolder;
    float: left;
}
.card-card-info {
 background-image: inherit; background-size: cover;
 font-weight: bolder;
}
p {
    font-weight: bolder;
}
.logo {
    float: right;
}
.log {
    float: left;
}
* {
    font-size: 20px;
    margin-left: 60px;
    color: gainsboro;
}

